$darkPrimaryColor: #1976D2;
$primaryColor: #2196F3;
$lightPrimaryColor: #BBDEFB;
$textPrimaryColor: #CD5360;
$accentColor: #FF4081;

$primaryTextColor: #555555;
$primaryLinkTextColor: #B37D4E;
$secondaryTextColor: #CD5360;
$secondaryLinkColor: #B37D4E;

$dividerColor: #B6B6B6;
$errorColor: #E51C23;
$backgroundColor: #FCFCFC;
$emphasisColor: #1d1d1d;
$googleColor: #D73D32;
$twitterColor: #009AB9;
$facebookColor: #3B5998;
$sidebarBorderColor: #888;

$primaryBackgroundColor: #FFFFFF;
$primaryBackgroundHoverColor: #82b2ce;


$firstColor: #286DA8; // Blue
$secondColor: #CD5360; //Peach
$thirdColor: #B37D4E; // Brown
$fourthColor: #82b2ce; // Light Blue
